[Unit]
Description=Run One-Wave Bridge watchdog

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
